<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <!-- <h2>hello world</h2> -->

    <form action="/get-form-data" method="post">  <!--hum method =post isliye likh rhe hai kyuki udhar router post hai plus form hamesha get ko hi hit kerta hai to usse prevent kerne ke liye -->
        <input type="text" placeholder="Enter username" name="username">
        <input type="text" placeholder="Enter email" name="email">
        <input type="password" placeholder="Enter password" name="password">
        <button>Submit form</button>
    </form>
    <script src="index.js"></script>
</body>
</html>